jwk = ArweaveSdkEx.Wallet.read_jwk_json_from_file("/Users/liaohua/arweave_study/arweave-key-riehAVqG1ihV3kwNb3IandUy2OfLnilk3cj7fSuDEPw.json")
node = "https://arweave.net"
# tags = []
tags = %{"Content-Type" => "application/elixir", "Hiden-Code" => ""}
data ="testabc"
reward_coefficient = 2

{tx, id, unsigned_tx} =  ArweaveSdkEx.Wallet.sign_tx(node, data, tags, jwk, 2)
